body {
	background-color: #e9ebe8;
	font-family: 'Lato', sans-serif;
    font-weight: bold;
    margin: 20px;
}

.container {
	width: 1024px;
}

.top_row {
   width: 100%;
   height: 60px;
}

#time {
	font-size: 40px;
	color: #312e3e;
	right: 20px;
	top: 41px;
	margin-top: 0;
	float:right;
}

#date_container {
	left: 35px;
	top: 41px;
	float:left;
}

#date {
	font-size: 20px;
	color: #312e3e;
}

#day {
	font-size: 16px;
	color: #999b98;
}

#status_boxes {
	width: 100%;
}

.status_box {
	background-color: #322d3c;
	width: 33%;
	margin-right: 0.33%;
	margin-top: 0.33%;
	float:left;
	position: relative;
	border-radius: 6px;
}

.status_box:last-child {
	margin-right: 0px;
}

.status_top {
	border-bottom: 1px solid #545454;
	display: flex;
	align-items: center;
	margin-left: 5%;
	margin-right: 5%;
	margin-top:20px;
	padding-bottom:20px;

}

.status_bottom {
	clear: left;
	float: left;
	width: 90%;
	display: flex;
	justify-content: center;
	text-align: center;
	align-items: center;
	font-weight: normal;
	margin-left: 5%;
	margin-right: 5%;
	margin-top:20px;
	margin-bottom:20px;
}

.status_stat {
	width: 33.3%;
}

.status_val_container {
	display: flex;
	justify-content: center;
	align-items: center;
}

.status_bottom_container {
	float:none;
	height: 100%;
}

.status_name_age {
	float:left;
}

.status_hrmax, .status_steps {
	color: #ffffff;
}

.status_val_logo {
	padding-right: 10px;
}

.status_heart .status_val_logo {
	font-size: 14px;
}

.status_steps .status_val_logo {
	width: 12px;
	height: 16px;
}

.status_steps .status_val_logo img {
	max-width:100%; 
	max-height:100%;
	margin:auto;
	display:block;
}

.status_name {
	color: #ffffff;
	font-size: 24px;
}

.status_age {
	color: #999b98;
	font-size: 14px;
}

.status_val {
	font-size: 26px;
}

.status_caption {
	font-size: 14px;
}

.status_pic {
	padding-right: 18px;
	float: left;
	width: 72px;
	height: 72px;
}

.status_pic img {
	max-width:100%; 
	max-height:100%;
	margin:auto;
	display:block;
	border-radius: 50%
}

.chart {
	background-color: #322d3c;
	border-radius: 6px;
}
